# dependencies
/node_modules

# System Files
.DS_Store
Thumbs.db
[Dd]esktop.ini

# Links
*.lnk
.idea/
*.PEM
.vscode/

# Logs
npm-debug.log

# ignore build files
dist
build

# ignore test converage
coverage

# Environment varibles
*.env
*.env.test
*.env copy